@import url("./fonts.css");

.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.bg-image {
  position: absolute;
  height: 300px;
  aspect-ratio: 1/1;
}
.left-image {
  top: 12%;
  left: -6%;
}
.top-right-image {
  top: 0;
  right: 0;
}
.bottom-right-image {
  bottom: 0;
  right: 0;
}
.menus-container {
  width: 800px;
  height: 90vh;
  /* background-color: red; */
  padding: 35px;
  display: flex;
  gap: 5%;
}
.menu {
  /* width: 47.5%; */
  height: 100%;
  background-color: white;
  border-top-left-radius: 25px;
  padding: 32px 0px 32px 24px;
  overflow: scroll;
}

.larger {
  width: 53%;
}
.smaller {
  width: 42%;
}

.menu > h1 {
  text-transform: capitalize;
  font-size: 24px;
  word-spacing: 2px;
  font-family: "Poppins";
  margin-bottom: 28px;
}
