@font-face {
  font-family: "Bebas";
  src: url("../fonts/bebasneue-book-webfont.woff");
}

@font-face {
  font-family: "Bebas";
  src: url("../fonts/bebasneue-book-webfont.woff2");
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #2b2a30;
  display: grid;
  place-items: center;
}

.circle {
  position: relative;
  height: 70vh;
  aspect-ratio: 1/1;
  background-color: white;
   box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
  display: grid;
  place-items: center;
  overflow: hidden;
  transition: 0.55s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.55s;
  -moz-transition: 0.55s;
  -ms-transition: 0.55s;
  -o-transition: 0.55s;
}

.semicircle {
  position: absolute;
  top: 0;
  left: 0;
  height: 70vh;
  aspect-ratio: 1/2;
  transform-origin: right center;
}
.semicircle:nth-of-type(3) {
  background-color: white;
}

.live {
  background-color: #9d0000;
}

.hide {
  display: none;
}

.complete {
  background-color: #00aa51;
}
.inner_circle {
  padding: 25% 5% 15% 5%;
  position: absolute;
  height: 68vh;
  aspect-ratio: 1/1;
   background: radial-gradient(71.4% 71.4% at 51.7% 28.6%, #3A393F 0%, #17171A 100%);
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.time {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: 6.5vh;
}

input[type="text"] {
  border: 0;
  border-bottom: 1px dashed white;
  background: none;
  color: white;
  font-family: "Bebas";
  font-size: calc((75vw - 4.5rem) / 7);
  height: 170px;
  width: 150px;
  text-align: center;
  outline: none;
}

input[type="text"]:disabled {
  border-bottom: none;
}

.start_stop {
  margin-top: 32px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 8px;
  line-height: 20px;
  background: none;
  color: white;
  opacity: 0.5;
  border: none;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: 0.55s;
  -webkit-transition: 0.55s;
  -moz-transition: 0.55s;
  -ms-transition: 0.55s;
  -o-transition: 0.55s;
}

.start_stop:hover {
  opacity: 1;
}

.settings_check {
  margin-top: 12px;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.3;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
}

.settings_check:hover {
  opacity: 1;
}

.settings_page{
    margin-left: auto;
    margin-right: 5%;
}
.settings_page > img{
    width: 55px;
}